{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
<div id="content-main" style="width: 800px; font-size: 13px;">
<div class="module">
    <h2>{% trans "Last Referers" %}</h2>
    <ul>
        {% for referer in object_list %}
            <li style="line-height: 1.5em;"><a href="{{ referer|striptags|escape }}" target="_blank">{{ referer|striptags|escape }}</a></li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}


{% block sidebar %}
{% include "stats/partials/sidebar.html" %}
{% endblock %}
